<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Pokemoon{% endblock %}</title>
    <style>
        .page-num{display:inline}
    </style>
</head>
<body>
    <header>
        <h1><a href=".">Pokemoon</a>: интернет-каталог покемонов</h1>

        {% if not user.is_authenticated %}
            <a href="{% url 'login' %}">
                <button>Войти</button>
            </a>
        {% else %}
            <p>{{ user.username }}</p>
            <a href="{% url 'logout' %}">
                <button>Выйти</button>
            </a>
        {% endif %}

        <p>Hi hello</p>
    </header>

    <input id="input" type="text">
    <button id="search">Искать</button>

    <p id="test"></p>

    <div class="content">
        {% if pokemons %}
            <ol>
                {% for pokemon in page_obj %}
                    <li>
                        <div>
                        <a href="/{{ pokemon.name }}/info">
                            {{ pokemon.name }}
                            <img src="{{ pokemon.info.sprites.front_default }}">
                        </a>
                        <p>Рост: {{ pokemon.info.height }}</p>
                        <p>Вес: {{ pokemon.info.weight }}</p>
                        <a href="/{{ pokemon.name }}/fight">
                            <button>Бой!</button>
                        </a>
                    </div>
                    </li>
                {% endfor %}
            </ol>
        {% else %}
            <p>No pokemons today :c</p>
        {% endif %}
    </div>

    <nav class="list-pages">
        <ul>
            {% for p in page_obj.paginator.page_range %}
                {% if page_obj.number == p %}
                    <li class="page-num page-num-selected">{{ p }}</li>
                {% elif p >= page_obj.number|add:-5 and p <= page_obj.number|add:5  %}
                    <li class="page-num"><a href="?q={{q}}&page={{p}}">{{ p }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>

    <footer>
        <p>Все права зачищены. Покемоны с сайта <a href="https://pokeapi.co/" target="_blank">pokeapi.co</a></p>
    </footer>

    <script>
        var input = document.getElementById('input');
        var button = document.getElementById('search');

        button.onclick = function () {
            const filter = input.value.toLowerCase();
            window.location.href = "?q=" + filter;
        }
    </script>
</body>
</html>