{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pokemon.name }} - информация</title>
    <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}" type="text/css">
</head>
<body>
    <header>
        <h1><a href="..">Pokemoon</a>/<a href="/{{ pokemon.name }}/info">{{ pokemon.name }}</a></h1>
    </header>
    <img src="{{ pokemon.sprites.front_default }}" loading="lazy" style="position:absolute; top:50px; right:50px;">

    <p>ID: {{ pokemon.id }}</p>
    <p>Рост: {{ pokemon.height }}</p>
    <p>Вес: {{ pokemon.weight }}</p>
    <p>HP: {{ hp }}</p>
    <p>Атака: {{ attack }}</p>

    <a href="/{{ pokemon.name }}/fight">
        <button>Бой!</button>
    </a>

    <div class="save_to_ftp">
        <h3>Сохранить покемона</h3>
        <form method="post" action="{%  url 'save' pokemon.name %}">
            {% csrf_token %}
            <div>
                <label for="server">Название сервера:</label>
                <input type="text" id="server" name="server" placeholder="localhost">
            </div>
            <div style="margin-top: 8px">
                <label for="login">Логин:</label>
                <input type="text" id="login" name="login" placeholder="aboba">
            </div>
            <div style="margin-top: 8px">
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" placeholder="qwerty">
            </div>
            <button type="submit" style="margin-top: 8px">Сохранить</button>
        </form>
    </div>

    <h3>Отзывы и оценки</h3>
    <div class="feedback_form">
        <form method="post" action="{% url 'feedback' pokemon.name %}">
            {% csrf_token %}
            <div class="rating-area">
                <input type="radio" id="star-5" name="rating" value="5">
                <label for="star-5" title="Оценка «5»"></label>
                <input type="radio" id="star-4" name="rating" value="4">
                <label for="star-4" title="Оценка «4»"></label>
                <input type="radio" id="star-3" name="rating" value="3">
                <label for="star-3" title="Оценка «3»"></label>
                <input type="radio" id="star-2" name="rating" value="2">
                <label for="star-2" title="Оценка «2»"></label>
                <input type="radio" id="star-1" name="rating" value="1" checked="checked">
                <label for="star-1" title="Оценка «1»"></label>
            </div>
            <div style="margin-top: 8px">
                <label for="feedback">Отзыв:</label>
                <textarea id="feedback" name="feedback" cols="40" rows="5"></textarea>
            </div>
            <button type="submit" style="margin-top: 8px">Отправить</button>
        </form>
    </div>

    <div class="feedbacks">

        {% if feedbacks %}
            {% for feedback in feedbacks %}
                <div class="feedback">
                    <p>Рейтинг: {{ feedback.rating }}</p>
                    {% if feedback.text %}
                        <p>Текст: {{ feedback.text }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <p>No feedbacks today :c</p>
        {% endif %}

    </div>
</body>
</html>